@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
}

.item {
  margin-right: 10px;
}

.tag {
  margin-right: 10px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

:root {
  --yellow: #FFFF00;
}

.header {
  height: 200px;
  background-color: #A463F2;
  color:  var(--yellow);
  display: flex;
  align-items: center;
}

a.item:link { color: var(--yellow);  }
a.item:visited { color: var(--yellow); }
a.item:hover { color: var(--yellow); }
a.item:active { color: var(--yellow); }

.links {
  margin-top: 10px;
}

.whoop {
  margin-left: 5%;
}

.titlecase {
  text-transform: capitalize;
}

.article {
  margin-left: 1in;
}

.listicle {
  list-style-type: none;
  padding-left: 1em;
}

.listicleMain {
  margin-left: 1in;
}

.listicle > li::before {
  content: "–";
  position: absolute;
  /*change margin to move dash around*/
  margin-left: -1em;
}
