<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
        {{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}

    {{ if .Site.Params.highlight -}}
        {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    <script>
    const vantaraPrefix = "VNT";
    window["_vantara_prefix"] = vantaraPrefix;
    window[`${vantaraPrefix}_script`] = "https://cdn.vantara.ai/vantara-browser-api.js";
    window[`${vantaraPrefix}_productId`] = "prd_00000000000000000000000001";
    window[`${vantaraPrefix}_clientKey`] = "key_s/OSk4v2rA72WtID+I9FEz5zITqaf4UUI7diJm1X0hA6WgQgf97crc1eoYZpvXHqpfhNU2IK6To/v7HUknAbXA=="
    window[`${vantaraPrefix}_endpoint`] = "https://in.vantara.ai";

    (function (windowObj, documentObj, prefix) {
      const vantaraScriptElement = documentObj.createElement("script");
      vantaraScriptElement.type = "module";
      vantaraScriptElement.async = true;
      vantaraScriptElement.crossOrigin = "anonymous";
      vantaraScriptElement.src = windowObj[`${prefix}_script`].startsWith("/")
        ? windowObj[`${prefix}_script`]
        : "https://" + windowObj[`${prefix}_script`];

      const firstScriptTag = documentObj.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(
        vantaraScriptElement,
        firstScriptTag,
      );
    })(window, document, vantaraPrefix);
    </script>


    <link rel="canonical" href="{{ .Permalink }}" />
    <title>{{ .Title }}</title>
</head>
