<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <hgroup>
            <h1 class="brand-title"><a href="{{ .Site.BaseUrl }}">{{ .Site.Title }}</a></h1>
            <h2 class="brand-tagline">{{ with .Site.Params.Description }} {{.}} {{end}}</h2>
        </hgroup>

        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button" href="http://twitter.com/sheki"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="http://github.com/sheki"><i class="fa fa-github-alt"></i> Github</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="/index.xml"><i class="fa fa-rss"></i>RSS</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="/talks"><i class="fa fa-bullhorn"></i>Talks</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="/random"><i class="fa fa-random"></i>Random</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
